section.welcome        
    .container-welcome        
        header.header
            h1.header__title Ты готов стать профессионалом?
            h3.header__subtitle 
                | Мы ищем 
                a(href="").subtitle-link талантов 
                | и 
                a(href="").subtitle-link саппортов 
                | в команду. Решите на какую категорию вы претендуете.
            a(href="").header__link Заполнить анкету      