section.privilege
    h1.header__title.header__title_privilege Приемущества работы с нами  
    .privilege-content  
        .privilege-block
            .privilege-block__img
                img(src='./assets/img/vector.png')
            h3.privilege-block__title Делимся оптом и навыками    
            .privilege-block__line
            .privilege-block__text Мы обучаем коллег всему, что знаем сами. Наш опыт уникален и проверен временем, а команда постоянно совершенствует свои знания и навыки.
        .privilege-block
            .privilege-block__img
                img(src='./assets/img/vector.png')
            h3.privilege-block__title Стабильная зарплата    
            .privilege-block__line
            .privilege-block__text Вы без задержек получаете официальную зарплату. Также мы оплачиваем больничные и даем возможность брать оплачиваемый отпуск до 4 недель в год.
        .privilege-block.privilege-block_last
            .privilege-block__img
                img(src='./assets/img/vector.png')
            h3.privilege-block__title Гибкий график   
            .privilege-block__line
            .privilege-block__text Мы умеем работать с теми, кто еще не закончил получать образование. Вы можете работать неполный рабочий день, брать отгулы на время сессии и диплома. 