extends ../layouts/_default

block section-header
    include ../components/header            
                
block section-main    
    include ../components/bg  
    include ../components/main    
    include ../components/article                       
    include ../components/privilege  
                       
block section-footer
    include ../components/footer
                     
            